
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto:wght@100;400;900&display=swap');
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/course.css");
@import url("components/courses.css");
@import url("components/daw.css");
@import url("components/info.css");
@import url("components/questions.css");
@import url("components/teachers.css");


body h1{
  text-align: center;
  font-family: Odibee Sans, cursive;
  font-size: 50px;
  letter-spacing: 4px;
  margin: 65px 0px;
}

body{
  margin: 0px;
}

html{
  scroll-behavior: smooth;
}

#gotop{
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-align:center;
  color: rgba(165, 39, 165, 0.2);
  font-size: 50px;
}

#gotop:hover{
  color: rgba(165, 39, 165, 0.8);
  transform: scale(1.1);
}


