.teachers img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0px auto;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}

.teachers img:hover{
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.35);
  transition: 0.20s;
  opacity: 0.8;
 }

.teachers{
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 250px 50px;
  justify-items: center;
  align-items: center;
  gap: 22px 170px;
  justify-content: center;
  margin: 50px 0px 0px 0px;
  padding: 180px 0px;
  background-color: rgba(0, 0, 0, 0.12  );
}

.teachers p{
  font-family: roboto, sans-serif;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
}

.teachers p:hover{
  transform: scale(1.1);
}
